body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.experiences{
    color: black;
    text-decoration: none;
    text-align: center;
}



.bg-lblue{
    background-color: rgba(87, 211, 233, 0.335);
}

.bg-lgreen{
    background-color: rgba(87, 233, 131, 0.329);
}

.rnd-border{
    border-radius: 20px;
}

.card-img-bdr{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-link-bdr{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px
}

.detail-tap ul li {
    
    color: #333;
    margin: 11px 0;
    padding: 0 15px;
    list-style: none;
    display: inline-block;
}

.pkgform-headbx {
    font-size: 1.50em;
    color: #fff;
    background-color: #d34205;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0px;
    position: relative;
}

.pkgform-box {
    background-color: gray;
    padding: 15px 12px;
}

.package-listing {
    flex-wrap: wrap;
    display: flex;
    padding: 0px;
    margin: 20px 0 30px 0px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #dbdbdb;
}